.polygon-center {
    fill: #f8cd05;
}

.polygon-outer {
    fill: #e6e6e6;
}

.cell:nth-child(1) {
    position: absolute;
    transform: translate(62%, -101%);
}

.cell:nth-child(2) {
    position: absolute;
    transform: translate(-25%, -51%);
}

.cell:nth-child(3) {
    position: absolute;
    transform: translate(66%, -8%);
}

.cell:nth-child(4) {
    position: absolute;
    transform: translate(153%, -51%);
}

.cell:nth-child(5) {
    position: absolute;
    transform: translate(-25%, 38%);
}

.cell:nth-child(6) {
    position: absolute;
    transform: translate(153%, 38%);
}

.cell:nth-child(7) {
    position: absolute;
    transform: translate(69%, 86%);
}